[submodule "data/vim/vim-plug-repo"]
	path = data/vim/vim-plug-repo
	url = https://github.com/junegunn/vim-plug
[submodule "submodules/numix-cursor-theme"]
	path = submodules/numix-cursor-theme
	url = https://github.com/numixproject/numix-cursor-theme
[submodule "submodules/i3-layout-manager"]
	path = submodules/i3-layout-manager
	url = https://github.com/klaxalk/i3-layout-manager
[submodule "submodules/bzcurses"]
	path = submodules/bzcurses
	url = https://github.com/DerBunman/bzcurses
