#!/usr/bin/env sh

echo "{{ "\u001b[33m\033[1m" }}"
cat | figlet << EOF
{{ ansible_hostname }}
EOF
echo "{{ "\033[0m" }}"

MEM_TOTAL="$(free -m | grep ^Mem | tr -s ' ' | cut -d ' ' -f 2)"
MEM_FREE="$(free -m | grep ^Mem | tr -s ' ' | cut -d ' ' -f 3)"

cat << EOF
  {{ "\033[1m" }}Host:{{ "\033[0m" }}
    {{ "\033[1m" }}Hostname:{{ "\033[0m" }} {{ ansible_hostname | default("-") }}
    {{ "\033[1m" }}FQDN:{{ "\033[0m" }}     {{ ansible_fqdn | default("-") }}

    {{ "\033[1m" }}IPv4:{{ "\033[0m" }}     {{ ansible_default_ipv4.address | default("-") }}
    {{ "\033[1m" }}IPv6:{{ "\033[0m" }}     {{ ansible_default_ipv6.address | default("-") }}

    {{ "\033[1m" }}Memory:{{ "\033[0m" }}   $MEM_FREE/$MEM_TOTAL MiB free
    {{ "\033[1m" }}CPUs:{{ "\033[0m" }}     {{ ansible_processor_count }} ({{ ansible_processor_cores }} cores)

  {{ "\033[1m" }}Linux:{{ "\033[0m" }}
    {{ "\033[1m" }}Kernel:{{ "\033[0m" }}   $(uname --kernel-release)
    {{ "\033[1m" }}Distri:{{ "\033[0m" }}   {{ ansible_distribution }} {{ ansible_distribution_version }}

EOF
