ACCENT_BG={{ colors.cyan2 }}
ARC_TRANSPARENCY=True
ARC_WIDGET_BORDER_COLOR=bcbcbc
BASE16_GENERATE_DARK=False
BASE16_INVERT_TERMINAL=False
BASE16_MILD_TERMINAL=False
BG={{ colors.black2 }}
BTN_BG={{ colors.black2 }}
BTN_FG={{ colors.white2 }}
BTN_OUTLINE_OFFSET=-3
BTN_OUTLINE_WIDTH=1
CARET1_FG={{ colors.white2 }}
CARET2_FG={{ colors.white2 }}
CARET_SIZE=0.04
CINNAMON_OPACITY=1.0
FG={{ colors.white2 }}
GRADIENT=0.0
GTK3_GENERATE_DARK=False
HDR_BG={{ colors.black2 }}
HDR_BTN_BG={{ colors.black2 }}
HDR_BTN_FG={{ colors.white1 }}
HDR_FG={{ colors.white2 }}
ICONS_ARCHDROID=729fcf
ICONS_DARK={{ colors.cyan1 }}
ICONS_LIGHT=729fcf
ICONS_LIGHT_FOLDER={{ colors.black2 }}
ICONS_MEDIUM={{ colors.black2 }}
ICONS_NUMIX_STYLE=1
ICONS_STYLE=numix_icons
ICONS_SYMBOLIC_ACTION=9d9d9d
ICONS_SYMBOLIC_PANEL=101010
MATERIA_PANEL_OPACITY=0.6
MATERIA_SELECTION_OPACITY=0.32
MATERIA_STYLE_COMPACT=True
MATERIA_SURFACE=f5f5f5
MATERIA_VIEW=ffffff
MENU_BG=3c3c3c
MENU_FG=e6e6e6
NAME=DieOberflaechengestaltung
OUTLINE_WIDTH=1
ROUNDNESS=2
SEL_BG={{ colors.blue1 }}
SEL_FG=181818
SPACING=3
SPOTIFY_PROTO_BG=3c3c3c
SPOTIFY_PROTO_FG=e6e6e6
SPOTIFY_PROTO_SEL=729fcf
TERMINAL_ACCENT_COLOR={{ colors.blue1 }}
TERMINAL_BACKGROUND={{ colors.background }}
TERMINAL_BASE_TEMPLATE=basic
TERMINAL_COLOR0={{ colors.black1 }}
TERMINAL_COLOR1={{ colors.red1 }}
TERMINAL_COLOR10={{ colors.green2 }}
TERMINAL_COLOR11={{ colors.yellow2 }}
TERMINAL_COLOR12={{ colors.blue2 }}
TERMINAL_COLOR13={{ colors.magenta2 }}
TERMINAL_COLOR14={{ colors.cyan2 }}
TERMINAL_COLOR15={{ colors.white2 }}
TERMINAL_COLOR2={{ colors.green1 }}
TERMINAL_COLOR3={{ colors.yellow1 }}
TERMINAL_COLOR4={{ colors.blue1 }}
TERMINAL_COLOR5={{ colors.magenta1 }}
TERMINAL_COLOR6={{ colors.cyan1 }}
TERMINAL_COLOR7={{ colors.white1 }}
TERMINAL_COLOR8={{ colors.black2 }}
TERMINAL_COLOR9={{ colors.red2 }}
TERMINAL_FOREGROUND={{ colors.white2 }}
TERMINAL_THEME_ACCURACY=127
TERMINAL_THEME_AUTO_BGFG=True
TERMINAL_THEME_EXTEND_PALETTE=False
TERMINAL_THEME_MODE=manual
THEME_STYLE=oomox
TXT_BG={{ colors.background }}
TXT_FG={{ colors.white2 }}
UNITY_DEFAULT_LAUNCHER_STYLE=False
WM_BORDER_FOCUS={{ colors.blue1 }}
WM_BORDER_UNFOCUS={{ colors.black2 }}
