{{ managed_by_ansible_header }}

STREAMABLEUSER="{{ desktop.rofi_media_menu.streamable.user | default('false') }}"
STREAMABLEPASSWORD="{{ desktop.rofi_media_menu.streamable.password | default('false') }}"
FFMPEG_PIDFILE="{{ desktop.rofi_media_menu.ffmpeg_pidfile | default('/tmp/rofimedia.ffmpeg.pid') }}"
VIDEO_PATH="{{ desktop.rofi_media_menu.video_path | default('$HOME/Videos') }}"
VIDEO_EXT="{{ desktop.rofi_media_menu.video_ext | default('mp4') }}"
